<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nellpoi.androidprogrammingcourse">

    <uses-permission android:name="android.permission.INTERACT_ACROSS_PROFILES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SubActivity_Toolbar"
            android:label="@string/sub_Toolbar"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity android:name=".SubActivity_DynamicFragment" />
        <activity
            android:name=".SubActivity_StaticFragment"
            android:label="@string/sub_StaticFragment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity android:name=".SubActivity_UserAvatarSelector_Gallery" />
        <activity
            android:name=".SubActivity_UserAvatarSelector"
            android:label="@string/sub_UserAvatarSelector">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity android:name=".SubActivity_StartActivityForResult_Finish" />
        <activity
            android:name=".SubActivity_StartActivityForResult_Start"
            android:label="@string/sub_StartActivityForResult">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity android:name=".SubActivity_IdealWeightCalculator_Finish" />
        <activity
            android:name=".SubActivity_IdealWeightCalculator_Start"
            android:label="@string/sub_IdealWeightCalculator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity android:name=".SubActivity_Intent_Extra_Finish" />
        <activity
            android:name=".SubActivity_Intent_Extra_Start"
            android:label="@string/sub_Activity_Intent_Extra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_Intent_ACTION_VIEW"
            android:label="@string/sub_Activity_Intent_ACTION_VIEW">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_Intent_ACTION_DIAL"
            android:label="@string/sub_Activity_Intent_ACTION_DIAL">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity android:name=".SubActivity_Intent_StartAndFinishActivity_Finish" />
        <activity
            android:name=".SubActivity_Intent_StartAndFinishActivity_Start"
            android:label="@string/sub_Activity_Intent_StartAndFinishActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_Notification"
            android:label="@string/sub_Notification">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_Dialog2"
            android:label="@string/sub_Dialog2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_Dialog1"
            android:label="@string/sub_Dialog1"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_ScrollView"
            android:label="@string/sub_ScrollView"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_DatePicker"
            android:label="@string/sub_DatePicker"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_CalendarView"
            android:label="@string/sub_CalendarView"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_GridView"
            android:label="@string/sub_GridView"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_SimpleAdapter"
            android:label="@string/sub_SimpleAdapter"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_ArrayAdapter"
            android:label="@string/sub_ArrayAdapter"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_AutoCompleteTextView"
            android:label="@string/sub_AutoCompleteTextView"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_RatingBar"
            android:label="@string/sub_RatingBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_ProgressBarAndSeekBar"
            android:label="@string/sub_ProgressBarAndSeekBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_Radiobutton_And_CheckBox"
            android:label="@string/sub_RadioButtonAndCheckBox"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_Toast"
            android:label="@string/sub_Toast"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_StateListDrawable"
            android:label="@string/sub_StateListDrawable"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_Resources"
            android:label="@string/sub_Resources"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_Spinner"
            android:label="@string/sub_Spinner"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_ListView"
            android:label="@string/sub_ListView"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_Guideline"
            android:label="@string/sub_Guideline"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_ConstraintLayout"
            android:label="@string/sub_ConstraintLayout"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_RelativeLayout"
            android:label="@string/sub_RelativeLayout"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_TableLayout"
            android:label="@string/sub_TableLayout"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity
            android:name=".SubActivity_LinearLayout"
            android:label="@string/sub_LinearLayout"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nellpoi.androidprogrammingcourse.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>